PORT=8080
MP_ACCESS_TOKEN=APP_USR_REEMPLAZAR
MP_WEBHOOK_PATH=/webhooks/mercadopago
APPS_SCRIPT_URL=https://script.google.com/macros/s/REEMPLAZAR/exec
APPS_SCRIPT_SHARED_SECRET=reemplazar_con_valor_largo_y_unico